

.main-menu {
  @include menuh(
          $fondo         : lighten(black, 30%),  		        // Color de fondo del menu
          $color         : salmon,			    // Color de los enlaces
          $hover         : dodgerblue,	// Color de fondo para el hover de los items
          $altura        : 3.5em,			    // Altura del menu (de los items)
          $separacion    : 5em,			        // Separación entre los enlaces del menu
          $ancho-submenu : 10em			         // Ancho de los submenus
  );
}
