<DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		include ../includes/linkheader
	body
		.container
			.row
				.col-md-12
					include ../includes/main-menu
		.container
		include ../includes/bottomscripts